<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="dt-stack">
    <title>mintUI</title>
    <script src="<%= htmlWebpackPlugin.options.assets.config_js %>"></script>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible.js"></script>
  </head>
  <body>
    <div id="app-box"></div>
  </body>
</html>
